<form #signupform="ngForm" (ngSubmit)="Submit(signupform)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel email required #email="ngModel">
      <div id="emailHelp" class="form-text" *ngIf="email.touched &&email.invalid">Email is Invalid</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required #password="ngModel">
      <div id="passwordhelp" class="form-text" *ngIf="password.touched &&password.invalid">Password is Invalid</div>
    </div>
   
    <button type="submit" class="btn btn-primary" [disabled]="!signupform.valid">Submit</button>
  </form>
