<form #newGroceryform="ngForm" (ngSubmit)="submit(newGroceryform)">
    <div class="mb-3">
        <label for="groname" class="form-label">Grocery Name</label>
        <input type="text" class="form-control" id="title" aria-describedby="gronameHelp" name="title" #title="ngModel" [(ngModel)]="Grocery.title"  text required >
        <div id="titleHelp" class="form-text" *ngIf="title.touched && title.invalid">Title is Required</div> 
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" id="desc" aria-describedby="descHelp" name="desc" [(ngModel)]="Grocery.desc"  text   >
      
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" aria-describedby="priceHelp" name="price" #price="ngModel" [(ngModel)]="Grocery.price" price required >
         <div id="priceHelp" class="form-text" *ngIf="price.touched &&price.invalid">Price is Invalid</div> 
      </div>
      <div class="mb-3">
        <label for="imgsrc" class="form-label">Image Link</label>
        <input type="text" class="form-control" id="imgsrc" name="imgsrc" #imgsrc="ngModel" [(ngModel)]="Grocery.imgsrc" required >
        <div id="imgsrcdhelp" class="form-text" *ngIf="imgsrc.touched &&imgsrc.invalid">ImageLink is Invalid</div> 
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" id="category" name="category" #category="ngModel" [(ngModel)]="Grocery.category" required >
        <div id="categorydhelp" class="form-text" *ngIf="category.touched &&category.invalid">category is Invalid</div>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!newGroceryform.valid">Submit</button>
  </form>