<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/grocery">
                <img src="/assets/img/vegetables.jpg" alt="" width="70" height="64" class="d-inline-block align-text-top">
                <p>Grocery</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fashion">
                <img src="/assets/img/fashion.jpg" alt="" width="70" height="64" class="d-inline-block align-text-top">
                <p>Fashion</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/medicine">
                <img src="/assets/img/pharmacy.jpg" alt="" width="70" height="64" class="d-inline-block align-text-top">
                <p>Pharmacy</p></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
